.dataGrid__cellInput
  flex-grow: 1
  appearance: none
  -webkit-appearance: none
  -moz-appearance: textfield
  background: transparent
  border: none
  padding: 0
  margin: 0
  font: inherit
  border-radius: 2px

  &:focus
    outline-color: var(--bw-ui-table-cellFocusOutline, #007BFF)
    outline-offset: 0.45rem
    outline-style: solid
    outline-width: 2px
  
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator
    display: none
    -webkit-appearance: none
  
  &:read-only:focus
    outline: none

.dataGrid__row
  position: relative
 
.dataGrid__cellInput--right
  text-align: right

.dataGrid__row:focus-within
  background-color: #e6e6e6

  .dataGrid__deleteBtn
    visibility: visible
    pointer-events: all

.dataGrid__deleteBtn
  visibility: hidden
  pointer-events: none
  position: absolute
  right: 1px
  top: 50%
  transform: translate(100%, -50%)
  background-color: #e6e6e6
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  padding-left: 0.85em
  padding-right: 0.85em

