.button
  display: inline-flex
  align-items: stretch
  appearance: none
  border: none
  outline: none
  margin: 0
  padding: 0
  background-color: var(--bw-ui-button-bgColor, #007BFF)
  color: var(--bw-ui-button-color, #fff)
  font-size: var(--bw-ui-button-fontSize, 1rem)
  font-weight: var(--bw-ui-button-fontWeight, 700)
  border-radius: var(--bw-ui-button-radius, 1.142rem)
  transition: .2s background-color, .2s box-shadow
  cursor: pointer
  overflow: hidden

  &:hover
    background-color: var(--bw-ui-button-bgHoverColor, #0061ca)

  &:active
    background-color: var(--bw-ui-button-bgColor, #007BFF)

  &:focus
    outline: 3px solid var(--bw-ui-button-focusOutlineColor, rgba(0, 97, 202, 0.3))

  &--secondary
    background-color: var(--bw-ui-button-secondary-bgColor, hsl(0, 0%, 84%)) 
    color: var(--bw-ui-button-secondary-color, #000)
    &:hover
      background-color: var(--bw-ui-button-secondary-bgHoverColor, hsl(0, 0%, 77%))
    &:active
      background-color: var(--bw-ui-button-secondary-bgColor, hsl(0, 0%, 84%))
    &:focus
      outline: 3px solid var(--bw-ui-button-secondary-focusOutlineColor, hsla(0, 0%, 84%, 0.3))

  &--danger
    background-color: var(--bw-ui-button-danger-bgColor, hsl(353, 83.5%, 49.8%))
    &:hover
      background-color: var(--bw-ui-button-danger-bgHoverColor, hsl(353, 83.5%, 42.7%))
    &:active
      background-color: var(--bw-ui-button-danger-bgColor, hsl(353, 83.5%, 49.8%))
    &:focus
      outline: 3px solid var(--bw-ui-button-danger-focusOutlineColor, hsla(353, 83.5%, 49.8%, 0.3))

  &--link
    background-color: transparent
    color: var(--bw-ui-button-linkColor, #007BFF)
    border-radius: 0
    gap: 0.5rem
    overflow: visible

    .button__content,
    .button__icon
      background-color: transparent
      padding: 0 !important

    .button__icon
      svg
        width: 0.75em
        height: 0.75em

    &:hover,
    &:focus
      background-color: transparent
      color: var(--bw-ui-button-linkHoverColor, #0061ca)
      outline: none

    &:active
      background-color: transparent
      color: var(--bw-ui-button-linkColor, #007BFF)

.button__icon + .button__content
  text-align: left
  padding-left: 1.1rem

.button__content,
.button__icon
  display: flex
  align-items: center
  line-height: 1

.button__content
  padding: 0.9rem 1.5rem

.button__icon
  padding: 0 0 0 1.1rem

svg
  display: block

.button__icon
  svg
    width: 1rem
    height: 1rem

.button--iconRight
  .button__icon
    order: 1
    padding: 0 1.1rem 0 0
  .button__icon + .button__content
    padding: 0.9rem 1.1rem 0.9rem 1.5rem

@media (max-width: 640px)
  .button__content,
  .button__icon
    padding: 0.7rem
