$white: #fff
$black: #000
$primary: #0040dd
$primary-hover: #0033b3
$secondary: #248a3d
$grey1: #fff
$grey5: hsl(0, 0%, 87%)
$grey12: hsl(0, 0%, 33%)
$red: #d70015

.theme\:light-high-contrast
  --bw-ui-button-bgColor: #{$primary}
  --bw-ui-button-color: #{$white}
  --bw-ui-button-bgHoverColor: #{$primary-hover}
  --bw-ui-button-bgColor: #{$primary}
  --bw-ui-button-focusOutlineColor: rgba(0, 97, 202, 0.3)
  --bw-ui-button-bgColor: #{$primary}
  --bw-ui-button-bgHoverColor: #{$primary-hover}
  --bw-ui-button-bgColor: #{$primary}

  --bw-ui-table-bgColor: #{$grey1}
  --bw-ui-table-headerCell-color: #{$grey12}
  --bw-ui-table-headerCell-darkColor: #{$black}
  --bw-ui-table-borderColor: #{$grey5}
  --bw-ui-table-cellHoverBgColor: rgba(0, 0, 0, 0.05)
  --bw-ui-table-cellFocusBgColor: #{$white}
  --bw-ui-table-cellFocusOutline: #{$primary}
  --bw-ui-table-progress-foregroundColor: #{$secondary}
  --bw-ui-table-progress-overflowColor: #{$red}

  --bw-ui-dialog-bgColor: #{$white}
  --bw-ui-dialog-backdrop: #{$black}

  --bw-ui-dropdown-bgColor: #{$white}
  --bw-ui-dropdown-color: #{$primary}
  --bw-ui-dropdown-hoverColor: #{$primary-hover}
  --bw-ui-dropdown-activeColor: #{$black}
  --bw-ui-dropdown-outlineColor: rgba(0, 97, 202, 0.5)
  --bw-ui-dropdown-borderColor: rgba(0, 0, 0, 0.2)

  --bw-ui-input-color: #{$black}
  --bw-ui-input-border: hsl(0, 0%, 90%)
  --bw-ui-input-bgColor: #{$grey1}
  --bw-ui-input-phColor: hsl(0, 0%, 20%)
  --bw-ui-input-focusBorder: hsl(0, 0%, 73%)
  --bw-ui-checkbox-accent: #{$primary}

  --bw-ui-monthsSwitch-color: #{$primary}
  --bw-ui-monthsSwitch-iconColor: #{$grey12}
  --bw-ui-monthsSwitch-hoverColor: #{$primary}
  --bw-ui-monthsSwitch-color: #{$primary}
  --bw-ui-monthsSwitch-outlineColor: rgba(0, 97, 202, 0.5)

  --bw-ui-scale-neutralColor: #{$grey12}
  --bw-ui-scale-progressColor: #c93400
  --bw-ui-scale-balanceColor: #{$secondary}
  --bw-ui-scale-overflowColor: #{$red}

  --bw-ui-sidebar-nav-bgColor: hsl(0, 0%, 93%)
  --bw-ui-sidebar-nav-button-hoverColor: $black
  --bw-ui-sidebar-nav-button-activeColor: hsl(0, 0%, 87%)
