.months-switch
  display: flex
  align-items: center
  gap: 0.929rem
  color: var(--bw-ui-monthsSwitch-color, #007bff)
  font-size: 1.5rem
  font-weight: 700
  transition: .2s color
  cursor: pointer

  &:hover
    color: #0061ca
    color: var(--bw-ui-monthsSwitch-hoverColor, #007bff)

  &:active
    color: var(--bw-ui-monthsSwitch-color, #007bff)

  &:focus
    outline: 2px solid var(--bw-ui-monthsSwitch-outlineColor, rgba(0, 97, 202, 0.5))

.months-switch__left-icon
  width: 1.643rem
  height: 1.786rem

.months-switch__chevron-icon
  width: 1.07rem
  height: 1.07rem
  fill: currentColor

@media (max-width: 640px)
  .months-switch
    gap: 0.5rem
    font-size: 1.2rem

  .months-switch__left-icon
    width: 1.2rem
    height: 1.2rem

  .months-switch__chevron-icon
    width: 0.9rem
    height: 0.9rem
