.table
  border-spacing: 0
  padding: 0 0.928rem 0.928rem
  background-color: var(--bw-ui-table-bgColor, #F9F9F9)
  border-radius: 1.142rem
  font-size: 1.142rem
  border-collapse: separate

  tfoot
    .table__cell
      padding-bottom: 0
      border-color: transparent

.table__row
  position: relative
  box-sizing: border-box

.table__headerCell,
.table__cell
  padding: 0.928rem

.table__headerCell
  vertical-align: bottom
  text-align: left
  font-size: 1.142rem
  font-weight: 600
  color: var(--bw-ui-table-headerCell-color, #555)

  &--l
    font-size: 1.312rem

  &--dark
    color: var(--bw-ui-table-headerCell-darkColor, #000)

.table__cell
  border-bottom: 2px solid var(--bw-ui-table-borderColor, #ddd)
  vertical-align: middle

  &--l
    font-size: 1.214rem
  
  &--bold
    font-weight: 600

.table__cell--right
  justify-content: flex-end

  .table__cell__content
    justify-content: flex-end

.table__headerCell--right
  text-align: right

.table__cell,
.table__headerCell
  button
    font-size: 1.142rem

.table__progress
  position: absolute
  bottom: 0
  left: 0
  appearance: none
  width: 100%
  height: 2px
  border: none

  &::-webkit-progress-bar
    background-color: var(--bw-ui-table-borderColor, #ddd)

  // The below repetition is necessary due to a bug in SASS
  &::-webkit-progress-value
    background-color: var(--bw-ui-table-progress-foregroundColor, #34C759)
  
  &::-moz-progress-bar
    background-color: var(--bw-ui-table-progress-foregroundColor, #34C759)

.table__progress--overflow
  // The below repetition is necessary due to a bug in SASS
  &::-webkit-progress-value
    background-color: var(--bw-ui-table-progress-overflowColor, #ff3a30)
  
  &::-moz-progress-bar
    background-color: var(--bw-ui-table-progress-overflowColor, #ff3a30)

.table__cell__unit
  display: inline-block
  margin-left: 0.65rem

.table__cell_wrapper
  display: flex
  flex-wrap: nowrap
  align-items: center

.table__cell__mobileHeader
  font-size: 1rem
  font-weight: 600
  color: var(--bw-ui-table-headerCell-color, #555)
  flex-grow: 1
  flex-basis: 50%
  margin-right: 1rem
  &::after
    content: ':'

.table__cell--mobile,
.table__headerCell--mobile,
.table__cell__mobileHeader
  display: none

.table__cell__content
  display: flex
  width: 100%

@media (max-width: 640px)
  .table__row
    display: flex
    flex-direction: column
    gap: 0.35rem

  .table__cell,
  .table__headerCell,
  .table__cell__mobileHeader,
  .table__cell--mobile,
  .table__headerCell--mobile
    display: block

  .table__headerCell:not(:first-of-type):not(.table__headerCell--mobile)
    display: none
  
  .table__cell
    border-bottom: none
    text-align: left
    .table__cell__content
      justify-content: flex-start
  
  .table__cell,
  .table__headerCell,
  tfoot .table__cell
    padding: 0.5rem 0.9rem !important
  
  .table__cell--right
    justify-content: space-between
  
  .table
    background-color: transparent
    font-size: 1rem
    padding: 0

  tbody,
  tfoot
    .table__row
      padding: 0.4rem 0 0.6rem
      border-radius: 1.142rem
      margin-bottom: 0.6rem
      background-color: var(--bw-ui-table-bgColor, #F9F9F9)

  .table__progress
    bottom: 0
    left: 0.928rem
    right: 0.928rem
    width: calc(100% - 1.856rem)
    
  .table__cell--desktop,
  .table__headerCell--desktop
    display: none

  thead .table__row
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
  
  .table__row--mobileGhost
    background-color: transparent !important
  
  .table__headerCell--l
    font-size: 1.2rem
  
  .table__cell--l
    font-size: 1.1rem
  
  .table__cell__content
    flex-grow: 1
    flex-basis: 50%
  
  .table__cell__unit
    position: absolute
    right: 1.1em
